<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Docks.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.8thlight.Docks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Docks</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.3</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 2.0.3, Copyright © 2010 8th Light, Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SDApplication</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 8th Light, Inc.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>DocksURLHandler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bnrapp-docks</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
