<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showMainWindowOnLaunch</key>
	<true/>
	<key>firstTime</key>
	<true/>
	<key>playCameraSound</key>
	<true/>
	<key>showFilenamePreview</key>
	<true/>
	<key>rowHeight</key>
	<real>48</real>
	<key>spacesCount</key>
	<integer>8</integer>
	<key>appInterfaceType</key>
	<integer>1</integer>
</dict>
</plist>
