
@charset "utf-8";

$light_color: #f1f0eb;
$medium_color: #d4cabf;
$text_color: #444;
$stand_out_color: #d2431b;

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $light_color;
    font-family: 'Open Sans', sans-serif;
    font-size: 85%;
    color: $text_color;
}

nav ul,
header h1,
section {
    margin: 0px auto;
    width: 980px;
}


/* NAV BAR */


nav {
    background-color: #484846;
}

nav ul {
    list-style-type: none;
    background-color: #1c1c1c;

    clear: both;
    overflow: auto;
}

nav li {
    float: left;
    border-right: 1px solid #484846;
}

nav a {
    display: inline-block;
    padding: 10px 20px;

    text-decoration: none;
    color: #ddd6d4;
    /* background-color: #1c1c1c; */
}

nav a:hover {
    /* background-color: #62625f; */
    color: #fff;
}

nav a#home {
  padding-left: 50px;
  background: url('/etc/img/grs-logo-small.png') no-repeat 15px 5px;
}

/* HEADER */


header {
    background-color: $medium_color;
}

header h1 {
    padding: 30px;

    color: $stand_out_color;
    font-size: 250%;
    font-weight: normal;
}


/* LEFT SIDE */


section article {
    float: left;
    width: 60%;
}

section article h2 {
    margin: 20px 0px;
    margin-top: 40px;

    color: $stand_out_color;
    font-size: 125%;
    font-weight: normal;
}

section article p {
    margin: 20px 0px;

    line-height: 20px;
}

section article #features {
    list-style-type: square;
    margin-left: 20px;
}

section article #features li {
    height: 20px;
}


/* RIGHT SIDE */


aside {
    float: right;
    width: 30%;
}
