---
css:
  - home.css
---

<% content_for :title, "404" %>

<header>

  <h1 id="title">Giant Robot Software</h1>

</header>

<section>

  <article>

    <h2>This page can't be found. (Error: 404)</h2>
    <p>Maybe we moved it, or maybe the URL was typed wrong.</p>

  </article>

</section>
