---
css:
  - home.css
---

<% content_for :title, "404" %>

<div id="intro">

  <h1 id="title">Giant Robot Software</h1>

</div>

<div id="details">

  <div id="primary-content">

    <p class="subtitle">This page can't be found. (Error: 404)</p>
    <p>Maybe we moved it, or maybe the URL was typed wrong.</p>

  </div>

</div>
