---
css:
  - home
---

<% content_for :title, "About" %>

<header>

  <h1>Giant Robot Software</h1>

</header>

<section>

  <article>

    <h2>
      We make apps for your Mac.
    </h2>
    <p>
      They're at the links at the <strong>top</strong> of this page.
    </p>

    <h2>
      Our apps are simple.
    </h2>
    <p>
      We like simple <strong>better</strong> than complicated.
      <br/>
      We think you do <strong>too</strong>.
    </p>

    <h2>
      Our apps are powerful.
    </h2>
    <p>
      Our apps are powerful <strong>because</strong> they're simple.
      <br/>
      It's more <strong>productive</strong> to have a few orthogonal tools that work together.
    </p>

    <h2>
      Our apps are beautiful.
    </h2>
    <p>
      We strive to make our apps <strong>look and feel</strong> natural and elegant.
      <br/>
      Our apps <strong>meticulously</strong> follow Apple's own Human Interface Guidelines.
    </p>

  </article>

  <aside>
    <img src="/etc/img/grs-site-logo.png">
  </aside>

</section>
