---
css:
  - home
---

<% content_for :title, "About" %>

<div id="intro">

  <h1 id="title">Giant Robot Software</h1>

</div>

<div id="details">

  <div id="primary-content">

    <p id="tagline">
      We make apps for your Mac.
    </p>
    <p>
      They're at the links at the <strong>top</strong> of this page.
    </p>

    <p id="tagline">
      Our apps are simple.
    </p>
    <p>
      We like simple <strong>better</strong> than complicated.
      <br/>
      We think you do <strong>too</strong>.
    </p>

    <p id="tagline">
      Our apps are powerful.
    </p>
    <p>
      Our apps are powerful <strong>because</strong> they're simple.
      <br/>
      It's more <strong>productive</strong> to have a few orthogonal tools that work together.
    </p>

    <p id="tagline">
      Our apps are beautiful.
    </p>
    <p>
      We strive to make our apps <strong>look and feel</strong> natural and elegant.
      <br/>
      Our apps <strong>meticulously</strong> follow Apple's own Human Interface Guidelines.
    </p>

  </div>

  <div id="secondary-content">
    <img src="/etc/img/grs-site-logo.png" style="float: right;">
  </div>

</div>
